<mat-toolbar color="primary">
    <mat-toolbar-row class="center-xs">
        <a mat-raised-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-raised-button class="ml-xs" color="primary" routerLink="/indicadores" routerLinkActive="active">Indicadores</a>
        <a mat-raised-button class="ml-xs" color="primary" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="badge badge-success" style="color: white;" >Version del Proyecto {{app.version}}</a> 
    </mat-toolbar-row>
</mat-toolbar>
