.principal  {
    background-image: url('../../../../../assets/Bienvenidos.jpg');
    height: 600px; 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .mat-card-content {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }