
  .bg {
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  

  }

  .image_inicio{
    height:40em; background-size:cover; width:auto;
    background-image:url('../../../../../assets/money.jpg');
    background-position:50% 50%;
    width: 100%;
    height: auto;
  }


  .card-header{
    justify-content: center;
    background-color: #FDEBD0;
  }