<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="bg">
<div class="card text-center">
    <div class="card-header">
      <h1><span class="badge badge-light"> INDICADORES ECONOMICOS</span></h1>
    </div>

  <div class="image_inicio">    
    <div class="card-body">
      <div class="container mt-3">
        <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
          <!-- Slide Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
            <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
          </ul>
      
          <!-- The slides to show -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../../../../assets/IndicadoresBanco.jpg"
                width="1000" height="400">
            </div>
            <div class="carousel-item">
              <img
                src="../../../../../assets/Bitcoin.jpg"
                width="1000" height="400">
            </div>
            <div class="carousel-item">
              <img
                src="../../../../../assets/PrecioCobre.jpg"
                width="1000" height="400">
            </div>
          </div>
      
          <!--  Controls (Left and right) -->
          <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
      </div>
       
        

        <div class="card-footer text-muted">
          <h6 class="card-title"><h6 class="badge badge-light"> Bienvenidos a los Indicadores Economicos <i class="fa fa-trademark" aria-hidden="true"></i></h6></h6>
          <h6 class="card-title"><h6 class="badge badge-light"> Este sistema es para propositos academicos</h6></h6>

          <button type="button" class="btn btn-primary" routerLink="/indicadores" >Buscar Indicadores</button>
        </div>
        

        

    </div>
  </div>
  </div>

  

